
@{
    ViewData["Title"] = "Redmi9";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="card-wrapper">
    <div class="card">
        <!-- card left -->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="https://m.media-amazon.com/images/I/71A9Vo1BatL._SX679_.jpg" alt="phone image">
                    <img src="https://m.media-amazon.com/images/I/810V2FYLb2L._SL1500_.jpg" alt="phone image">
                    <img src="https://m.media-amazon.com/images/I/71+xtGkfYpL._SL1500_.jpg" alt="phone image">
                    <img src="https://m.media-amazon.com/images/I/71cz4pacl2L._SL1500_.jpg" alt="phone image">
                    <img src="https://m.media-amazon.com/images/I/71snJRRLwPL._SL1500_.jpg" alt="phone image">
                </div>
            </div>
            <div class="img-select">
                <div class="img-item">
                    <a href="#" data-id="1">
                        <img src="https://m.media-amazon.com/images/I/71A9Vo1BatL._SX679_.jpg" alt="phone image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="2">
                        <img src="https://m.media-amazon.com/images/I/810V2FYLb2L._SL1500_.jpg" alt="phone image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="3">
                        <img src="https://m.media-amazon.com/images/I/71+xtGkfYpL._SL1500_.jpg" alt="phone image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="4">
                        <img src="https://m.media-amazon.com/images/I/71cz4pacl2L._SL1500_.jpg" alt="phone image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="5">
                        <img src="https://m.media-amazon.com/images/I/71snJRRLwPL._SL1500_.jpg" alt="phone image">
                    </a>
                </div>
            </div>
        </div>
        <!-- card right -->
        <div class="product-content">
            <h2 class="product-title">
                Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor
            </h2>
            <!--<a href = "#" class = "product-link">visit samsung store</a>-->
            <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>4(123)</span>
            </div>

            <div class="product-price">
                <p class="last-price">Old Price: <span>₹10,999.00</span></p>
                <p class="new-price">Price: <span>₹9,499.00(14%)</span></p>
            </div>

            <div class="product-detail">
                <h2>about this item: </h2>
                <p>
                    <h3>Available offers</h3>
                    <ol>
                        <li>Bank OfferFlat ₹100 off on first Flipkart Pay Later order of ₹500 and aboveT&C</li>

                        <li>Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C</li>

                        <li>Bank Offer20% off on 1st txn with Amex Network Cards issued by ICICI Bank,IndusInd Bank,SBI Cards and MobikwikT&C</li>

                        <li>Bank Offer10% Off on First time ICICI Bank Mastercard Credit Card transaction, TnC ApplicableT&C</li>
                    </ol>
                </p>
                @*<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>*@
                <h3>Details</h3>
                <ul>
                    <li>Color: <span>Sporty Orange</span></li>
                    <li>Available: <span>in stock</span></li>
                    <li>Category: <span>Android</span></li>
                    <li>Shipping Area: <span>All over the India</span></li>
                    <li>Shipping Fee: <span>Free</span></li>
                </ul>
            </div>

            <div class="purchase-info">
                <input type="number" min="0" value="1">
                <button type="button" class="btn">
                    Add to Cart <i class="fas fa-shopping-cart"></i>
                </button>
                <!--<button type = "button" class = "btn">Compare</button>-->
            </div>

            <div class="social-links">
                <p>Share At: </p>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</div>

